@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: inherit;
  color: inherit;
}

ul, ol {
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #E7E7E7;
}

::-webkit-scrollbar-thumb {
  background: #9EE298;
  border-radius: 10px;
}

body {
  background: #eee;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.map-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Фоновый цвет контейнера */
  border-top: 1px solid #ccc; /* Дополнительный верхний бордер */
}

.header-container {
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}

.modal {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.modal.active {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  width: 410px;
  height: 250px;
  border-radius: 10px;
  background: #fff;
  position: relative;
}

.modal-btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.modal-btn-close::after,
.modal-btn-close::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #B9B9B9;
  top: 50%;
}

.modal-btn-close::after {
  transform: translate(0, -50%) rotate(45deg);
}

.modal-btn-close::before {
  transform: translate(0, -50%) rotate(-45deg);
}

.modal-box {
  padding: 10px 7px 10px 15px;
}

.modal-body {
  height: 200px;
  overflow: auto;
  padding-right: 5px;
}

.modal-table {
	width: 100%;
	border-collapse: collapse; 
}
.modal-table tr {
  border-radius: 5px;
}

.modal-table th {
	font-weight: bold;
	padding: 5px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 8px;
}

.modal-table td {
	border: none;
  font-size: 12px;
  font-weight: 300;
}

.modal-table tr:not(:last-child) td {
  padding: 0 0 5px 0;
}

.modal-table td div {
  background-color: #CDFFC1;
  padding: 5px
}

.modal-title {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-table th:first-child,
.modal-table td:first-child {
  border-right: 2px solid #161616;
}

.modal-table td:first-child {
  border-radius: 5px 0 0 5px; 
}
.modal-table td:last-child {
  border-radius: 0 5px 5px 0;
}

.header {
  background: #fff;
}

.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  /* overflow: hidden; */
}

.header {
  margin-bottom: 40px;
}

.header-title {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
}

.map {
  width: 100%;
  height: 80vh;
  margin-bottom: 6px;
}

.map-container {
  position: fixed;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px rgba(158, 226, 152, 0.50);
  overflow: hidden;
}

.map-container1 {
  position: relative;
}
.map-vertical-list1 {
  position: absolute;
  top: 10px; 
  left: 10px; 
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 5px;
  z-index: 1;
  font-size: 15px;
  font-weight: 600;
}

.map-vertical-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -41px;
  top: 0;
  list-style: none;
  font-size: 11px;
  font-weight: 600;
}

.map-vertical-item {
  width: 44px;
  height: 36px;
  cursor: pointer;
  
  color: #000;
  border-radius: 7px;
  background: linear-gradient(180deg, #BAFFB4 0%, #9EE298 100%);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.11);

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.map-vertical-item:not(:last-child) {
  margin-bottom: 29px;
}

.map-vertical-item:hover{
  background: linear-gradient(180deg, #ABFF7E 0%, #57D727 100%);;
  color: #fff;
}
.map-horizontal-item:hover {
  background: #AAA;
  color: #fff;
}

.map-vertical-item.active {
  background: linear-gradient(180deg, #89FF7E 0%, #35D727 100%);
  color: #fff;
}
.map-horizontal-item.active {
  background: #A8A8A8;
  color: #fff;
}

.map-horizontal-list {
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

.map-horizontal-item {
  width: calc((100% - 84px) / 17);
  background: #fff;
  height: 36px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.animate-item {
  width: 84px;
  background: linear-gradient(180deg, #BAFFB4 0%, #9EE298 100%);
}

.animate-item:hover {
  background: linear-gradient(180deg, #ABFF7E 0%, #57D727 100%);
}

.animate-item:active {
  background: linear-gradient(180deg, #89FF7E 0%, #35D727 100%);
}

.circle-1,
.circle-2 {
  position: absolute;
  z-index: -1;
}

.circle-1 {
  top: -100px;
  left: -200px;
}

.circle-2 {
  right: -200px;
  bottom: -100px;
}

.recommendation-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.recommendation-content {
  margin-bottom: 10px;
}
.recommendation-content p {
  margin: 5px 0;
}
.card {
  width: 300px; /* Уменьшенная ширина блока */
  border: 1px solid #ccc; /* Рамка */
  border-radius: 5px; /* Немного скругленные края */
  overflow: hidden; /* Обрезка текста, если он выходит за пределы */
  text-align: left; /* Выравнивание текста по левому краю */
  font-family: 'Roboto', sans-serif; /* Стильный шрифт */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для блока */
  margin: 10px auto; /* Центровка блока на странице */
  padding: 10px; /* Внутренние отступы */
}